<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { nanoid } from "nanoid";

interface Props {
	min?: number,
	max?: number,

	value: number,
}
withDefaults(
	defineProps<Props>(),
	{
		min: 0,
		max: 999,
	}
)
defineEmits<{
	(e: 'change', value: number): void
}>()

let inputID = ref('')
onMounted(() => {
	inputID.value = nanoid(4)
})

</script>

<template>
	<div class="config-number">
		<p>
			<slot></slot>
		</p>
		<div class="config-number-input">
			<button :disabled="value <= min" @click="$emit('change', value - 1)">-</button>
			{{ value }}
			<button :disabled="value >= max" @click="$emit('change', value + 1)">+</button>
		</div>
	</div>
</template>

<style lang="scss">
.config-number {
	display: flex;

	p {
		width: 50%;
		padding: 0.5em;
	}
	.config-number-input {
		width: 50%;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		place-items: center;

		button {
			width: 100%;

			&:disabled {
				opacity: 0.4;
				cursor: initial;
			}
		}
	}
}
</style>