<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { nanoid } from "nanoid";
defineProps<{
	title: string
	description?: string

	value: boolean,
}>()
defineEmits<{
	(e: 'change', value: boolean): void
}>()

let toggleID = ref('')
onMounted(() => {
	toggleID.value = nanoid(4)
})
</script>

<template>
	<div class="config-checkbox" :title="description">
		<label :for="toggleID">{{ title }}</label>
		<input type="checkbox" :id="toggleID" :value="value" @change="$emit('change', !value)" />
	</div>
</template>

<style lang="scss">
.config-checkbox {
	input {
		margin-left: 0.5em;
	}
}
</style>