<script setup lang="ts">
import { useGlobalStore } from '@/store/global';
import { GAMEMODE, $grabEventInput } from '@/globals';
import type { TGameMode } from '@/globals';

const globalStore = useGlobalStore()
</script>

<template>
	<div>
		<slot>
			<h2>Game Mode:</h2>
		</slot>
		<select
			name="gameMode"
			id="gameMode"
			:value="globalStore.gameMode"
			@change="globalStore.setMode($grabEventInput($event) as TGameMode)"
		>
			<option v-for="mode of GAMEMODE" :value="mode">{{ globalStore.gameModeFriendly(mode) }}</option>
		</select>
	</div>
</template>

<style scoped>
</style>