<script setup lang="ts">
import ModeSelect from '@/components/ModeSelect.vue'

defineProps<{
	horizontalFirst?: boolean
}>()
</script>

<template>
	<div>
		<h2>Game Mode</h2>
		<div id="mode-select" :class="{ horizontalFirst }">
			<ModeSelect :mode="'cowgirl'">
				<h1>Cowgirl Apocalypse</h1>
				<p>Contains:</p>
				<ul>
					<li>Furry Forms</li>
					<li>MtF - FtF</li>
					<li>Udders and breast growth</li>
					<li>Milking and lactation</li>
				</ul>
			</ModeSelect>
			<ModeSelect :mode="'hucow'">
				<h1>Hucow Apocalypse</h1>
				<p>Contains:</p>
				<ul>
					<li>Human-like Forms</li>
					<li>MtF - FtF</li>
					<li>Breast growth</li>
					<li>Milking and lactation</li>
				</ul>
			</ModeSelect>
		</div>
	</div>
</template>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

#mode-select {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 4px;

	@media (min-width: $MOBILE_SIZE) {
		&.horizontalFirst {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: initial;
		}
	}
}
</style>