<script setup lang="ts">
import { useGlobalStore } from '@/store/global';
import { KINKS } from '@/globals';

const globalStore = useGlobalStore()
</script>

<template>
	<div id="kinks-config">
		<slot>
			<h2>Kinks</h2>
		</slot>
		<div id="kinks-config-selection">
			<div class="kink">
				<label for="udder">Udders</label>
				<input
					type="checkbox"
					name="udder"
					id="udder"
					:checked="!!(globalStore.kinks & KINKS.Udders)"
					@change="globalStore.toggleKink(KINKS.Udders)"
				/>
			</div>
			<div class="kink">
				<label for="herms">Herms</label>
				<input
					type="checkbox"
					name="herms"
					id="herms"
					:checked="!!(globalStore.kinks & KINKS.Herms)"
					@change="globalStore.toggleKink(KINKS.Herms)"
				/>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#kinks-config {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#kinks-config-selection {
	display: flex;
	gap: 1em;
	justify-content: center;
	place-items: center;

	.kink {
		input {
			margin-left: 0.25em;
		}
	}
}
</style>