<script setup lang="ts">
import { DESTINATIONS } from '@/globals/destination';
import { useWorldStore } from '@/store/world';
import { computed } from 'vue';
import ConfigCheckBox from './ConfigCheckBox.vue';

const worldStore = useWorldStore()

const unlockables = computed(() => {
	return Object.values(DESTINATIONS).filter(dest => dest.Unlock).map(dest => {
		return {
			title: dest.Display,
			unlock: dest.Unlock!,
			dest
		}
	})
})
</script>

<template>
	<div id="cheats-inventory">
		<h1>Unlocked Destinations</h1>
		<div id="cheats-inventory-list-wrapper">
			<div id="cheats-inventory-list">
				<div v-for="unlock of unlockables">
					<ConfigCheckBox
						:title="unlock.title"
						class="inventory-box"
						:value="worldStore.isDestinationUnlocked(unlock.dest)"
						@change="(x) => {
							if (worldStore.isDestinationUnlocked(unlock.dest)) {
								worldStore.lockDestination(unlock.unlock)
							} else {
								worldStore.unlockDestination(unlock.unlock)
							}
						}"
					></ConfigCheckBox>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss">
#cheats-inventory-list-wrapper {
	display: grid;
	place-items: center;

	#cheats-inventory-list {
		margin-top: 0.5em;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
</style>