<script setup lang="ts">
import { $capitalize, $grabGlobalText } from '@/globals';
import { SKILLS } from '@/globals/entity';
import { usePlayerStore } from '@/store/player';

interface Props {
	showDescription: boolean
	showUnassigned: boolean
}
withDefaults(
	defineProps<Props>(),
	{ showDescription: false, showUnassigned: false }
)

const playerStore = usePlayerStore()
</script>

<template>
	<div>
		<h2>Character Stats</h2>
		<span v-if="showUnassigned" class="stat-unassigned">
			<b>Unassigned Points:</b>
			{{ playerStore.stats.unassigned }}
		</span>
		<br />
		<div :class="['stat-container', { 'stat-container-description': showDescription }]">
			<div v-for="stat in SKILLS" class="stat">
				<div class="stat-btn">
					<button @click="playerStore.decrementStat(stat)">-</button>
					<p class="stat-display">{{ $capitalize(stat) }}: {{ playerStore.stats[stat] }}</p>
					<button @click="playerStore.incrementStat(stat)">+</button>
				</div>
				<p class="stat-desc" v-if="showDescription">{{ $grabGlobalText(`skills.${stat}.creation`) }}</p>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
.stat-unassigned {
	display: block;
	margin-top: 0.5rem;
}
.stat-container {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;

	.stat {
		display: flex;
		flex-direction: row;
		justify-content: center;
		place-items: center;
		width: fit-content;
		flex-wrap: wrap;

		gap: 0.5rem;

		.stat-btn {
			display: flex;
			flex-direction: row;
			place-items: center;

			button {
				width: 2rem;
				height: 2rem;
				padding: 0;
			}
			.stat-display {
				width: 8em;
			}
		}
	}
}
.stat-container.description {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
</style>