<script setup lang="ts">
import { computed } from 'vue';
import { usePlayerStore } from '@/store/player';
import { CowGirlFriendlyString } from '@/globals/cowgirl';
import type { TCowGirl } from '@/globals/cowgirl';
import { useGlobalStore } from '@/store/global';
import { KINKS, $grabEventInput } from '@/globals';

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()

const validInfectionTypes = computed(() => {
	const types = <TCowGirl[]>[]

	types.push(globalStore.udderKink ? "mooerudder" : "mooernoudder")
	types.push("milker", "horncow")
	if (globalStore.hermKink) types.push("hermcow")

	return types
})
globalStore.$subscribe((mut, state) => {
	if (state.kinks & KINKS.Udders) {
		if (playerStore.infectionType === 'mooernoudder') playerStore.infectionType = 'mooerudder'
	} else {
		if (playerStore.infectionType === 'mooerudder') playerStore.infectionType = 'mooernoudder'
	}

	if ((state.kinks & KINKS.Herms) === 0) {
		if (playerStore.infectionType === 'hermcow') {
			playerStore.infectionType = state.kinks & KINKS.Udders ? 'mooerudder' : 'mooernoudder'
		}
	}
})
</script>

<template>
	<div id="player-infection-type">
		<slot>
			<b for="playerInfectionType">Infection Type:&nbsp;</b>
		</slot>
		<select
			name="playerInfectionType"
			id="playerInfectionType"
			:value="playerStore.infectionType"
			@change="(event) => { playerStore.infectionType = $grabEventInput(event) as TCowGirl }"
		>
			<option v-for="iType of validInfectionTypes" :value="iType">{{ CowGirlFriendlyString[iType] }}</option>
		</select>
	</div>
</template>

<style lang="scss">
#player-infection-type {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	place-items: center;
	justify-content: center;
	gap: 0.5em;
}
</style>