<script setup lang="ts">
import { $grabEventInput } from '@/globals';
import { usePlayerStore } from '@/store/player';

const playerStore = usePlayerStore()

</script>

<template>
	<div class="player-gender">
		<slot>
			<h2>Your Gender:</h2>
		</slot>
		<select
			name="playerGender"
			id="playerGender"
			:value="playerStore.gender.toString()"
			@change="playerStore.gender = + $grabEventInput($event)"
		>
			<option value="0">Male</option>
			<option value="1">Female</option>
		</select>
	</div>
</template>

<style lang="scss">
.player-gender {
	display: flex;
	justify-content: center;
	place-items: center;
	flex-wrap: wrap;
	gap: 0.5em;
}
</style>