<script setup lang="ts">
import { onMounted } from 'vue';
import { useGlobalStore } from '@/store/global';
import { usePlayerStore } from '@/store/player';
import KinksConfig from '@/components/config/KinksConfig.vue';
import GameModeFull from '@/components/config/GameModeFull.vue';
import PlayerGender from '@/components/config/PlayerGender.vue';
import PlayerStats from '@/components/config/PlayerStats.vue';

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()

onMounted(() => {
	globalStore.resetGame()
	globalStore.__setWindowTitle()
})

function verifyCharacter() {
	if (!playerStore.name.trim()) return alert('Please insert your name!')
	globalStore.setNewScreen('GameScreen')
}
</script>

<template>
	<div class="container">
		<h1>Character Creation</h1>

		<br />
		<hr />
		<br />

		<div id="name">
			<input
				type="text"
				name="nameField"
				id="nameField"
				placeholder="Enter your Name..."
				v-model="playerStore.name"
			/>
		</div>

		<br />

		<PlayerGender id="gender"></PlayerGender>

		<br />
		<hr />
		<br />

		<PlayerStats id="stats" :show-description="true" :show-unassigned="true"></PlayerStats>

		<br />
		<hr />
		<br />

		<GameModeFull id="mode" :horizontal-first="true"></GameModeFull>
		<br />
		<KinksConfig id="kinks"></KinksConfig>

		<br />
		<br />

		<button @click="verifyCharacter">Create Character</button>
	</div>
</template>

<style lang="scss" scoped>
button {
	width: 100%;
}
</style>
