<script setup lang="ts">
import { useGlobalStore } from '@/store/global';
import { ENDINGNAMES, ENDINGS } from '@/globals/endings';
import { $translateText, $traverseText } from '@/globals';
import { usePlayerStore } from '@/store/player';
import PlayerGender from '@/components/config/PlayerGender.vue';
import PlayerInfectionType from '@/components/config/PlayerInfectionType.vue';
import ConfigNumber from '@/components/config/ConfigNumber.vue';
import GameModeSelect from '@/components/config/GameModeSelect.vue';
import KinksConfig from '@/components/config/KinksConfig.vue';

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()
</script>

<template>
	<div class="container">
		<button @click="globalStore.setNewScreen('MainMenu')">Back to Menu</button>
		<br />
		<br />
		<div id="view-infections">
			<h1>View Infections</h1>
			<br />
			<div id="view-infections-settings">
				<h4>Infection Settings</h4>
				<PlayerGender>
					<b>Gender:</b>
				</PlayerGender>
				<GameModeSelect>
					<b>Mode:&nbsp;</b>
				</GameModeSelect>
				<KinksConfig>
					<b>Kinks:&nbsp;</b>
				</KinksConfig>
				<PlayerInfectionType></PlayerInfectionType>
				<ConfigNumber
					id="infection"
					:value="playerStore.infection"
					@change="(x) => playerStore.infection = x"
					:max="3"
				>Player Infection</ConfigNumber>
			</div>
			<div id="view-infections-description">
				<h4>Infection Description</h4>
				<p class="keep-newline">{{ playerStore.infectionDescription }}</p>
			</div>
			<div id="view-infections-progress" v-show="playerStore.infectionProgress">
				<br />
				<h4>Infection Progress</h4>
				<p class="keep-newline" v-if="playerStore.infection > 0">{{ playerStore.infectionProgress }}</p>
			</div>
		</div>
		<br />
		<hr />
		<br />
		<div id="view-ending">
			<h1>View Endings</h1>
			<br />
			<div id="view-ending-selection">
				<button
					v-for="ending of ENDINGNAMES"
					@click="() => {
						globalStore.setGameOver(ending, 'GalleryScreen')
					}"
				>Ending {{ ENDINGS[ending].ENDING }}: {{ $translateText($traverseText(ENDINGS, `${ending}.name`)) }}</button>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#infection {
	min-width: 250px;
	width: 40vw;
}
#view-infections-settings {
	display: flex;
	flex-direction: column;
	justify-content: center;
	place-items: center;
	gap: 0.5em;
	.config-number {
		padding: 1em 0;
	}
}
#view-ending-selection {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}
</style>