<script setup lang="ts">
import { ENDINGS } from '@/globals/endings';
import { $translateText, $traverseText } from '@/globals';
import { useGlobalStore } from '@/store/global';
import { computed } from 'vue';

const globalStore = useGlobalStore()

const endingData = computed(() => {
	return ENDINGS[globalStore.gameOver!]
})
const endingText = computed(() => {
	return $translateText($traverseText(endingData.value.TEXT))
})
</script>

<template>
	<div id="gameover">
		<div id="gameover-text-wrapper">
			<div id="gameover-text" class="container">
				<h1>Game Over</h1>

				<br />

				<h2>Ending {{ endingData.ENDING }}: {{ endingData.NAME }}</h2>
				<h6>{{ endingData.DESCRIPTION }}</h6>

				<br />
				<hr />
				<br />

				<p class="keep-newline">{{ endingText }}</p>
			</div>
		</div>
		<button id="gameover-button" @click="globalStore.setNewScreen('MainMenu')">Game Over</button>
	</div>
</template>

<style scoped>
#game-screen {
	display: grid;
	grid-template-areas:
		"text"
		"button";
	grid-template-rows: 4fr 1fr;
}
#gameover-text-wrapper {
	overflow-y: auto;
}
</style>