<script setup lang="ts">
import { onMounted, onUnmounted, ref, computed } from 'vue';
import { useEncounterStore } from '@/store/encounter';
import { useGlobalStore } from '@/store/global';
import { usePlayerStore } from '@/store/player';
import { useWorldStore } from '@/store/world';
import type { TDestinations } from '@/globals/destination';

import DayTransition from '@/components/DayTransition.vue';

import ExplorationTab from './tabs/ExplorationTab.vue';
import ProjectsTab from './tabs/ProjectsTab.vue';
import SkillsTab from './tabs/SkillsTab.vue';
import CharacterTab from './tabs/CharacterTab.vue';
import EncounterTab from "./tabs/EncounterTab.vue";


function getComponentFromString(str: string) {
	switch (str) {
		case "Exploration": return ExplorationTab
		case "Projects": return ProjectsTab
		case "Skills": return SkillsTab
		case "Character": return CharacterTab
		case "Encounter": return EncounterTab
	}
	return ExplorationTab
}

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()
const worldStore = useWorldStore()
const encounterStore = useEncounterStore()

const currentTab = ref('Exploration')
const currentTabComputed = computed(() => {
	if (encounterStore.visible) return "Encounter"
	if (isCharacterPageOpen.value) return 'Character'
	return currentTab.value
})
const isCharacterPageOpen = ref(false)
const isTransition = ref(false)

onMounted(() => {
	worldStore.$reset()
	encounterStore.$reset()

	playerStore.setInfection(globalStore.udderKink ? 'mooerudder' : 'mooernoudder')

	globalStore.inGame = true
})

onUnmounted(() => {
	globalStore.inGame = false
})

</script>

<template>
	<div>
		<div id="game" v-if="!isTransition">
			<div id="hotbar">
				<div id="hotbar-left">
					<b>Day: {{ worldStore.day }}</b>
					<b>Food: {{ playerStore.food }}</b>
					<b>Experience: {{ playerStore.experience }}/{{ playerStore.maxExperience }}</b>
					<b>Health: {{ playerStore.health }}/{{ playerStore.maxHealth }}</b>
				</div>
				<div id="hotbar-middle">
					<b>Materials: {{ playerStore.materials }}</b>
					<b>Skill Points: {{ playerStore.skillPoints }}</b>
					<button
						:class="{ 'active-tab': isCharacterPageOpen }"
						@click="() => {
							isCharacterPageOpen = !isCharacterPageOpen
						}"
					>
						{{
							isCharacterPageOpen ? "Close" : "Open"
						}} Character Page
					</button>
				</div>
				<div id="hotbar-right">
					<button
						v-show="!encounterStore.visible"
						:class="{ 'active-tab': currentTab == 'Exploration' }"
						@click="currentTab = 'Exploration'"
					>Exploration</button>
					<button
						v-show="!encounterStore.visible"
						:class="{ 'active-tab': currentTab == 'Projects' }"
						@click="currentTab = 'Projects'"
					>Projects</button>
					<button
						v-show="!encounterStore.visible"
						:class="{ 'active-tab': currentTab == 'Skills' }"
						@click="currentTab = 'Skills'"
					>Skills</button>
					<button v-show="!encounterStore.visible" @click="globalStore.showingSettings = true">Settings</button>
				</div>
			</div>

			<component
				id="screen"
				:is="getComponentFromString(currentTabComputed)"
				@hide-encounter="() => {
					if (encounterStore.visible) encounterStore.hideEncounter()
				}"
				@show-transition="() => {
					isTransition = true
				}"
				@finish-day="() => {
					// shortcut for both
					if (encounterStore.visible) encounterStore.hideEncounter()
					isTransition = true
				
				}"
				@explore="(dest: TDestinations) => {
					worldStore.currentDestination = dest
					switch (dest) {
						case 'Home': {
							isTransition = true
						}
							break;
				
						default: {
							encounterStore.setEncounter(encounterStore.createExplorationEncounter(dest))
							encounterStore.showEncounter()
						} break;
					}
				}"
			></component>
		</div>

		<DayTransition
			v-if="isTransition"
			@exit-day-transition="(opt) => {
				if (opt.endByInfection) {
					globalStore.setGameOver(playerStore.infectionEnding)
					return
				}
				if (opt.endByTimeLimit) {
					globalStore.setGameOver(playerStore.timeLimitEnding)
					return
				}
				if (opt.infectionIncrease) {
					encounterStore.setEncounter(encounterStore.createInfectionProgress(true))
					encounterStore.showEncounter()
					isTransition = false
					return
				}
				isTransition = false
			}"
		></DayTransition>
	</div>
</template>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

#game {
	height: 100vh;
	max-height: 100vh;
	display: grid;

	grid-template-areas:
		"hotbar"
		"screen";
	grid-template-rows: 1fr 4fr;

	#hotbar {
		grid-area: hotbar;
		grid-gap: 1rem;

		padding: 4px;
		background-color: $HOTBAR;

		display: grid;

		@media (min-width: $MOBILE_SIZE) {
			grid-template-areas: "left middle right";
			grid-template-columns: 1fr 1fr 1.5fr;
		}
		@media (max-width: $MOBILE_SIZE) {
			grid-template-areas:
				"left middle"
				"right right";
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
		}

		#hotbar-left {
			grid-area: left;
			display: grid;
			place-items: center;
		}

		#hotbar-middle {
			grid-area: middle;
			display: grid;
			grid-template-rows: 1fr 1fr 1fr;
			place-items: center;
			button {
				height: 100%;
			}
		}

		#hotbar-right {
			grid-area: right;
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			grid-gap: 0.5em;

			background: $BACKGROUND_INNER;
		}
	}
	#screen {
		grid-area: screen;
		overflow-y: auto;
	}
}

button.active-tab {
	background-color: hsl(0, 3%, 34%);
}
</style>