<script setup lang="ts">
import { $grabGlobalText } from '@/globals';
import { useGlobalStore } from '@/store/global';

const globalStore = useGlobalStore()
</script>

<template>
	<div id="introduction">
		<div id="introduction-text" class="container">
			<p class="keep-newline">{{ $grabGlobalText('introduction') }}</p>
		</div>
		<button
			id="introduction-button"
			@click="globalStore.setNewScreen('CharacterCreation')"
		>Create Character</button>
	</div>
</template>

<style scoped>
#game-screen {
	display: grid;
	grid-template-areas:
		"text"
		"button";
	grid-template-rows: 4fr 1fr;
}
#introduction-text {
	grid-area: text;
	overflow-y: auto;
}
#introduction-button {
	grid-area: button;
}
</style>