<script setup lang="ts">
import { useGlobalStore } from '@/store/global';

const globalStore = useGlobalStore()
</script>

<template>
	<div class="container">
		<div id="menu-content">
			<h1>{{ globalStore.gameModeFriendly(globalStore.gameMode) }} Apocalypse</h1>
			<div id="menu-buttons">
				<button @click="globalStore.setNewScreen('Introduction')">New Game</button>
				<button
					@click="() => {
						globalStore.resetGame()
						globalStore.setNewScreen('GalleryScreen')
					}"
				>Gallery</button>
			</div>
		</div>
		<div id="menu-credits">
			<p>
				Squeaky Doelly © 2017
				<span>
					(
					<a href="https://tfgames.site/?module=viewgame&id=1527">TFGames Entry for the Original Game</a>&nbsp;)
				</span>
			</p>
			<p>Remake by Vee</p>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#game-screen {
	display: flex;
	flex-direction: column;
}
#menu-content {
	margin-top: auto;
	margin-bottom: auto;

	#menu-buttons {
		padding-top: 1em;
		display: flex;
		flex-direction: column;
		place-items: center;
		gap: 1em;

		button {
			width: 25%;
		}
	}
}
#menu-credits {
	p {
		padding: 0.2em 0;
	}
}
</style>