<script setup lang="ts">
import { useGlobalStore } from '@/store/global';
import { usePlayerStore } from '@/store/player';
import PlayerGender from './config/PlayerGender.vue';
import ConfigNumber from './config/ConfigNumber.vue';
import ConfigCheckBox from './config/ConfigCheckBox.vue';
import PlayerUnlocks from './config/PlayerUnlocks.vue';
import PlayerInfectionType from './config/PlayerInfectionType.vue';

const playerStore = usePlayerStore()
const globalStore = useGlobalStore()
</script>

<template>
	<div id="settings-cheats">
		<h1>Cheats</h1>

		<PlayerGender id="gender">
			<p>Player Gender</p>
		</PlayerGender>

		<br />

		<PlayerInfectionType>
			<p>Player Infection</p>
		</PlayerInfectionType>

		<br />

		<ConfigNumber
			id="food"
			:value="playerStore.food"
			@change="(x) => playerStore.food = x"
		>Player Food</ConfigNumber>

		<br />

		<ConfigNumber
			id="health"
			:value="playerStore.health"
			@change="(x) => playerStore.health = x"
			:max="playerStore.maxHealth"
		>Player Health</ConfigNumber>

		<br />

		<ConfigNumber
			id="materials"
			:value="playerStore.materials"
			@change="(x) => playerStore.materials = x"
		>Player Materials</ConfigNumber>

		<br />

		<ConfigNumber
			id="skillPoints"
			:value="playerStore.skillPoints"
			@change="(x) => playerStore.skillPoints = x"
		>Player Materials</ConfigNumber>

		<br />

		<ConfigNumber
			id="infection"
			:value="playerStore.infection"
			@change="(x) => playerStore.infection = x"
			:max="3"
		>Player Infection</ConfigNumber>

		<br />

		<PlayerUnlocks></PlayerUnlocks>

		<br />

		<h1>Toggles</h1>
		<small>Hover for more information</small>

		<div id="settings-cheats-toggles">
			<ConfigCheckBox
				id="cheatStrongMinded"
				title="Strong Minded"
				description="You are strong minded! This cheat will prevent the infection from taking in fully. (Prevents certain endings)"
				:value="globalStore.cheats.strongMinded"
				@change="(x) => globalStore.cheats.strongMinded = x"
			></ConfigCheckBox>

			<ConfigCheckBox
				id="cheatStrongMinded"
				title="No Rescue"
				description="All human for themselves, the army isn't coming! There is no day limit anymore. (Prevents certain endings)"
				:value="globalStore.cheats.noRescue"
				@change="(x) => globalStore.cheats.noRescue = x"
			></ConfigCheckBox>

			<ConfigCheckBox
				id="cheatStrongMinded"
				title="Vaccinated"
				description="The vaccination you got made you somewhat immune to the virus! The Changed cannot progress your infection (up to a certain degree)."
				:value="globalStore.cheats.stopInfectionProgress"
				@change="(x) => globalStore.cheats.stopInfectionProgress = x"
			></ConfigCheckBox>

			<ConfigCheckBox
				id="cheatStrongMinded"
				title="Lucky"
				description="Seems like you have a lucky charm! All roll challenges difficulty are halved."
				:value="globalStore.cheats.halfDifficulty"
				@change="(x) => globalStore.cheats.halfDifficulty = x"
			></ConfigCheckBox>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#settings-cheats {
	padding: 1em 1em;

	#settings-cheats-toggles {
		margin-top: 1em;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}
}
</style>
