<script setup lang="ts">
import { onMounted, ref } from 'vue';
import { $grabGlobalText } from '@/globals';
import { useGlobalStore } from '@/store/global';
import { usePlayerStore } from '@/store/player';
import { useWorldStore } from '@/store/world';

const globalStore = useGlobalStore()
const worldStore = useWorldStore()
const playerStore = usePlayerStore()

const transitionText = ref<string[]>([])
const emit = defineEmits(['exit-day-transition'])

const endByInfection = ref(false)
const infectionIncrease = ref(false)

onMounted(() => {
	if (playerStore.infection >= 3) {
		if (globalStore.cheats.strongMinded || Math.random() >= 0.5) {
			transitionText.value.push($grabGlobalText('endofday.infection3.good'))
		}
		else {
			transitionText.value.push($grabGlobalText('endofday.infection3.bad'))
			endByInfection.value = true
			return
		}
	}

	worldStore.day += 1
	if (worldStore.day > globalStore.dayLimit && !globalStore.cheats.noRescue) {
		emit('exit-day-transition', { endByTimeLimit: true })
		return
	}

	if (playerStore.food > 0) {
		playerStore.consumeFood()
		transitionText.value.push(`You consume ${playerStore.foodToConsume} food. Your new total amount of food is ${playerStore.food}`)
		return
	}
	if (playerStore.justRanOutOfFood) {
		playerStore.consumeFood()
		transitionText.value.push($grabGlobalText('endofday.emptyfood'))
		return
	}
	else {
		transitionText.value.push($grabGlobalText('endofday.nofood'))
		if (playerStore.increaseInfection()) {
			infectionIncrease.value = true
		}
		return
	}
})
</script>

<template>
	<div class="container">
		<h1>End of Day {{ worldStore.day }}</h1>

		<br />

		<p class="keep-newline">{{ transitionText.join('\n\n') }}</p>

		<br />

		<button @click="$emit('exit-day-transition', {
			endByInfection,
			infectionIncrease
		})">
			{{
				endByInfection ? "End Game Infection" : "Next Day"
			}}
		</button>
	</div>
</template>

<style scoped>
button {
	width: 100%;
	height: 50px;
}
</style>