<script setup lang="ts">
const props = defineProps<{
	prefix: string,
	type: any
}>()

function getIconURL(skill: string) {
	return new URL(`../assets/${props.prefix}${skill.toLowerCase()}.png`, import.meta.url).href
}
</script>

<template>
	<div class="icon">
		<img :src="getIconURL(type)" draggable="false" />
	</div>
</template>

<style lang="scss" scoped>
.icon {
	img {
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: crisp-edges;
		image-rendering: pixelated;

		padding: 0.5rem;
		background: hsl(0, 2%, 10%);
		border: #fff 2px solid;
		width: 68px;
		height: 68px;
	}
	&.active img {
		background: hsl(0, 2%, 20%);
	}

	cursor: pointer;
	user-select: none;
}
</style>