<script setup lang="ts">
import type { TGameMode } from '@/globals';
import { useGlobalStore } from '@/store/global';

defineProps<{ mode: TGameMode }>()

const globalStore = useGlobalStore()
</script>

<template>
	<div
		:class="['mode-item', { active: globalStore.gameMode === mode }]"
		@click="globalStore.setMode(mode)"
	>
		<slot></slot>
	</div>
</template>

<style lang="scss">
.mode-item {
	text-align: center;
	user-select: none;
	cursor: pointer;

	padding: 1em;
	background: hsl(0, 0%, 40%);
	&.active {
		background: hsl(0, 0%, 50%);
	}

	ul {
		width: fit-content;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0;
	}
	li {
		width: fit-content;
	}
}
</style>