<script setup lang="ts">
import { useGlobalStore } from '@/store/global';
import CheatsVue from './Cheats.vue';

import GameModeFull from './config/GameModeFull.vue';

const globalStore = useGlobalStore()

const emit = defineEmits(['exit'])

function confirmExit() {
	if (confirm('Are you sure? Your current progress will be lost!')) {
		globalStore.showingSettings = false
		emit('exit')
	}
}
</script>

<template>
	<div id="settings-wrapper">
		<div id="settings-background"></div>
		<div id="settings">
			<div id="settings-content">
				<!-- Click me twice! -->
				<h1 @dblclick="globalStore.cheatsActive = true" style="margin-bottom: 0.5em">Settings</h1>
				<GameModeFull id="mode"></GameModeFull>
				<br />
				<div id="settings-buttons">
					<button @click="globalStore.showingSettings = false">Close Settings</button>
					<button @click="confirmExit">Exit to Menu</button>
				</div>
			</div>
			<div v-if="globalStore.cheatsActive">
				<hr />
				<CheatsVue id="settings-cheats"></CheatsVue>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
@import "../assets/variables";

#settings-background {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	// pointer-events: none;
}
#settings {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	max-height: 100vh;
	width: $SETTINGS_SIZE;
	max-width: $SETTINGS_SIZE;
	background-color: hsl(0, 1%, 20%);
	color: #fff;

	overflow-y: auto;
	border-right: 1px grey solid;

	#settings-content {
		padding: 1em 0;
	}

	#settings-buttons {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 0.5em;
	}
}

#mode-select {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-gap: 4px;
}

// transition
#settings {
	transition: transform 0.5s ease;
}
#settings-background {
	transition: opacity 0.5s ease;
}

.settings-enter-from,
.settings-leave-to {
	#settings {
		transform: translateX($SETTINGS_SIZE);
	}
	#settings-background {
		opacity: 0;
	}
}
</style>