@import './variables.scss';

html,
body {
	margin: 0;
	padding: 0;

	color: #fff;
	background-color: $BACKGROUND;
}
* {
	box-sizing: border-box;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}
#game-screen {
	height: 100vh;
	min-height: 100vh;
	overflow-y: auto;
}

button {
	background-color: $BUTTON_BG;
	color: $BUTTON_TEXT;
	border: #ffffff 2px solid;
	padding: 0.5em;
	cursor: pointer;
	min-width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

p.keep-newline {
	white-space: pre-line;
}

div.container {
	padding: 1rem 2rem;
}
