<script setup lang="ts">
import { computed } from "vue";
import { useGlobalStore } from '@/store/global';
import { usePlayerStore } from '@/store/player';
import { SKILLS } from "@/globals/entity";
import { $grabGlobalText, $capitalize } from '@/globals';

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()

const infectionDescription = computed(() => {
	if (playerStore.infection === 0) {
		return $grabGlobalText('infection.basedescription')
	}

	return $grabGlobalText(
		`infection.${playerStore.infectionType}.${playerStore.gender === 0 ? 'Male' : 'Female'}.description.${playerStore.infection - 1
		}`
	)
})
</script>

<template>
	<div class="container">
		<div id="char-info">
			<h1>Name: {{ playerStore.name }}</h1>
			<hr />
			<div id="char-stat">
				<div v-for="stat in SKILLS" class="stat">
					<b>{{ $capitalize(stat) }}: {{ playerStore.stats[stat] }}</b>
				</div>
			</div>
		</div>
		<div id="char-desc">
			<b>Infection Level: {{ playerStore.infection }}</b>

			<br />
			<br />

			<div>
				<p>Your description</p>
				<div id="char-desc-inner">
					<p class="keep-newline">{{ infectionDescription }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
@import "@/assets/variables.scss";

#screen {
	display: grid;
	grid-template-rows: 1fr 1fr;
	gap: 4em;

	@media (min-width: $MOBILE_SIZE) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: initial;
		gap: 0;
	}
}

#char-stat {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 1em;
}
#char-desc {
	padding: 0 1em;
	#char-desc-inner {
		background-color: $BACKGROUND_INNER;
		padding: 0.5em;
	}
}
</style>