<script setup lang="ts">
import { computed } from "vue"
import { $traverseText, $capitalize, $translateText, $grabGlobalText } from '@/globals';
import { useEncounterStore } from '@/store/encounter';
import { usePlayerStore } from '@/store/player';
import { ENCOUNTEREMITS, IFightEncounter, ISimpleEncounter, getEncounterType, IEncounterOption, IEncounterOptionClick, IEncounterOptionRoll } from "@/globals/encounters";
import { attackEntity, TSkill } from "@/globals/entity";
import { useGlobalStore } from '@/store/global';

const playerStore = usePlayerStore()
const encounterStore = useEncounterStore()
const globalStore = useGlobalStore()

const emit = defineEmits([...ENCOUNTEREMITS])

let encounterOptions = computed(() => {
	const encounterType = getEncounterType(encounterStore.data)
	if (encounterType === null) throw "Encounter type not found!"

	if (encounterType === 'simple') {
		const encounter = encounterStore.data as ISimpleEncounter

		// Player automatically wins
		if (encounter.options === 'none') {
			return [
				{
					title: 'End',
					click: ({ emit }) => emit('finish-day')
				} as IEncounterOption
			]
		}

		// Player has to commit action
		return encounter.options.map(opt => {
			if ('click' in opt) return opt;

			const option = opt as IEncounterOptionRoll
			return {
				...opt,
				title: `${$capitalize(option.type as string)}: ${option.title}`,
				click: (options) => {
					const { store } = options
					const rolls = Array(Math.min(playerStore.getCalculatedSkill(option.type), 10)).fill(0).map(() => Math.floor(Math.random() * 20))

					let difficulty = encounter.difficulty!
					if (globalStore.cheats.halfDifficulty) difficulty = Math.floor(difficulty / 2)
					const state = rolls.some(roll => roll >= difficulty) ? 'success' : 'fail'

					if (!option[state]) option[state] = $translateText(grabText(state))
					let rewards: undefined | string = undefined

					if (state === 'success') {
						if (store.data.rewards) {
							rewards = playerStore.giveRewardOrPunish('reward', store.data.rewards)
						}
					}

					if (typeof option[state] === 'string') {
						store.setEncounter(
							store.createSubEncounterSimple(
								`You rolled ${rolls.length === 1 ? 'a ' : " "}${rolls.join(', ')}
									You need ${difficulty} to succeed.
									
									${option[state] as string}${rewards ? '\n\n' + rewards : ''}`
							)
						)
					}
					else {
						(option[state] as ((options: IEncounterOptionClick) => any))(options)
					}
				},
			} as IEncounterOption
		})
	}
	else {
		function handleAttackOption(playerSkill: TSkill, options: IEncounterOptionClick) {
			const { store } = options
			const encounter = (store.data as IFightEncounter)
			store.clearEncounterText()

			// NOTE: Don't use caulcated damage, very bad.

			const [playerDmg, playerRoll, cowDefense] = attackEntity(playerStore.getCalculatedSkill(playerSkill), encounter.cowgirl.stats.defense)
			store.pushEncounterText(`You rolled a ${playerRoll} against ${cowDefense}`)
			if (playerDmg) {
				// encounter.cowgirl.stats.health -= playerDmg
				encounter.cowgirl.stats.health -= 1
				if (encounter.cowgirl.stats.health <= 0) {
					if (encounter.onWin) encounter.onWin(options)
					else store.setEncounter(store.createWinFightEncounter())
					return
				}
				// store.pushEncounterText(store.playerHitText(playerDmg))
				store.pushEncounterText(store.playerHitText(1))
			}
			else {
				store.pushEncounterText(store.playerMissText)
			}

			const [cowGirlDMG, ,] = attackEntity(encounter.cowgirl.stats[encounter.cowgirl.stats.attackstat], playerStore.projectBonus.defense)
			if (cowGirlDMG) {

				// playerStore.health -= cowGirlDMG
				playerStore.health -= encounter.cowgirl.stats.damage
				if (playerStore.health <= 0) {
					if (encounter.onLose) encounter.onLose(options)
					else store.setEncounter(store.createLoseFightEncounter())
					return
				}
				// store.pushEncounterText(store.enemyHitText(cowGirlDMG))
				store.pushEncounterText(store.enemyHitText(encounter.cowgirl.stats.damage))
			}
			else {
				store.pushEncounterText(store.enemyMissText)
			}
		}
		return <IEncounterOption[]>[
			{
				title: 'Strength Attack',
				click: (options) => handleAttackOption('strength', options),
			},
			{
				title: 'Agility Attack',
				click: (options) => handleAttackOption('agility', options),
			},
			{
				title: 'Look at Opponent',
				click: ({ store }) => {
					const encounter = (store.data as IFightEncounter)
					store.clearEncounterText()
					store.pushEncounterText($grabGlobalText(`cowgirl.${encounter.cowgirl.type}.description`))
				},
			},
			{
				title: 'Submit',
				click: ({ store }) => {
					store.setEncounter(store.createLoseFightEncounter())
				},
			}
		]
	}
})

function grabText(key: string) {
	return $traverseText(encounterStore.data.content, key)
}

let optionData = {
	emit,
	store: encounterStore,
	gStore: globalStore,
	grabText
}
</script>

<template>
	<div class="container">
		<div id="encounter-info">
			<b>{{ encounterStore.tabData.title }}</b>
			<div id="encounter-text" class="container">
				<p class="keep-newline">{{ encounterStore.tabData.content.join("\n") }}</p>
			</div>
		</div>
		<div id="encounter-action">
			<button
				v-for="option in encounterOptions"
				@click="() => { option.click(optionData) }"
			>{{ option.title }}</button>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#screen {
	display: grid;
	grid-template-rows: 8fr 1fr;
	grid-gap: 2em;
}
#encounter-info {
	text-align: left;
	#encounter-text {
		background: hsl(0, 1%, 26%);
		height: 100%;
		overflow-y: auto;
		p {
			margin: 0;
		}
	}
}

#encounter-action {
	background: hsl(0, 0%, 43%);

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	gap: 0.2rem;

	button {
		flex: 1 1 0px;

		background: #f5f5f5;
		color: #000;
		height: 100%;
		min-width: auto;
		transition: background 0.1s ease-in-out;

		&:hover {
			background: darken(#f5f5f5, 10);
		}
	}
}
</style>