<script setup lang="ts">
import { computed } from 'vue';
import { DESTINATIONS, IDestination, TDestinations } from '@/globals/destination';
import { useWorldStore } from '@/store/world';

const worldStore = useWorldStore()

const isUnlocked = worldStore.isDestinationUnlocked
const dangerState = worldStore.getDestinationDanger
const suppliesState = worldStore.getDestinationSupplies

const unlockedDestinations = computed(() => {
	return Object.values(DESTINATIONS).filter(dest => isUnlocked(dest))
})
function getDestinationType(dest: IDestination) {
	return Object.entries(DESTINATIONS).find(([t, v]) => v.Display === dest.Display)![0] as TDestinations
}
</script>

<template>
	<div>
		<div id="screen-wrapper">
			<div
				v-for="dest of unlockedDestinations"
				class="dest"
				@click="$emit('explore', getDestinationType(dest))"
			>
				<div class="dest-info">
					<p>Danger: {{ dangerState(dest) }}</p>
					<p>Supplies: {{ suppliesState(dest) }}</p>
				</div>
				<div class="dest-description">
					<h1>{{ dest.Display }}</h1>
					<p class="keep-newline">{{ dest.Description }}</p>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#screen {
	// sometimes, css still confuses me
	#screen-wrapper {
		background: #b9b9b9;

		display: grid;
		grid-template-rows: auto;
		gap: 0.5rem;

		position: absolute;
		grid-gap: 0.5rem;

		max-width: 100vw;

		.dest {
			position: relative;
			display: grid;
			grid-template-columns: 1fr 8fr;
			place-items: center;

			background: #d4d4d4;
			color: #000;
			min-height: 200px;
			height: 100%;
			max-height: fit-content;

			user-select: none;
			cursor: pointer;

			transition: background-color 0.1s ease-in-out;

			.dest-info {
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;

				p {
					word-break: keep-all;
					white-space: nowrap;
				}
			}
		}
		.dest:hover {
			background: #fff;
		}

		.dest > * {
			margin: 0 2em;
		}
	}
}
</style>