<script setup lang="ts">
import { ref } from 'vue';
import { usePlayerStore } from '@/store/player';
import { useGlobalStore } from '@/store/global';
import { PROJECTS, TProjects } from '@/globals/player';
import { $capitalize, $grabGlobalText } from '@/globals';
import GameIcon from '@/components/GameIcon.vue';

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()
const selectedProject = ref<null | TProjects>(null)
</script>

<template>
	<div class="container">
		<div id="project-tree">
			<div v-for="proj in PROJECTS" @click="selectedProject = proj">
				<GameIcon :prefix="'proj_'" :type="proj" :class="{ active: selectedProject === proj }"></GameIcon>
			</div>
		</div>
		<div id="selected-project-info" v-if="selectedProject" class="container">
			<div id="selected-project-description">
				<h1>{{ $capitalize(selectedProject) }}</h1>
				<p>{{ $grabGlobalText(`projects.${selectedProject}.description`) }}</p>
			</div>
			<div id="selected-project-stats">
				<p>Level: {{ playerStore.projectBonus[selectedProject] }}</p>
				<p>Cost: {{ $grabGlobalText(`projects.${selectedProject}.cost`) }} Materials</p>
				<p>Effect: {{ $grabGlobalText(`projects.${selectedProject}.effect`) }}</p>

				<br />

				<button @click="playerStore.upgradeProject(selectedProject!)">Make Upgrade</button>
			</div>
		</div>
		<div v-else class="container">
			<p>Select a project</p>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#screen {
	display: grid;
	grid-template-areas: "tree" "info";
	grid-template-rows: 1fr 4fr;
}

#project-tree {
	grid-area: tree;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#selected-project-info {
	grid-area: info;

	display: grid;
	grid-template-areas: "desc stats";
	grid-template-columns: 1fr 1fr;

	#selected-project-description {
		grid-area: desc;
	}

	#selected-project-stats {
		grid-area: stats;
	}
}
</style>