<script setup lang="ts">
import { ref } from 'vue';
import { usePlayerStore } from '../../store/player';
import { useGlobalStore } from '@/store/global';
import { SKILLS, TSkill } from "@/globals/entity"
import { $capitalize, $grabGlobalText } from '@/globals';
import GameIcon from '@/components/GameIcon.vue';

const globalStore = useGlobalStore()
const playerStore = usePlayerStore()
const selectedSkill = ref<null | TSkill>(null)
</script>

<template>
	<div class="container">
		<div id="skill-tree">
			<div v-for="skill in SKILLS" @click="selectedSkill = skill">
				<GameIcon :prefix="'skill_'" :type="skill" :class="{ active: selectedSkill === skill }"></GameIcon>
			</div>
		</div>
		<div id="selected-skill-info" v-if="selectedSkill" class="container">
			<p>{{ $capitalize(selectedSkill) }} Skill 1</p>
			<p>Level: {{ playerStore.skillBonus[selectedSkill] }}</p>
			<p>Increase {{ selectedSkill }} by 1 per level.</p>
			<p>{{ $grabGlobalText(`skills.${selectedSkill}.upgrade`) }}</p>

			<br />

			<button @click="playerStore.upgradeSkill(selectedSkill!)">Upgrade Skill</button>
		</div>
		<div v-else class="container">
			<p>Select a skill</p>
		</div>
	</div>
</template>

<style lang="scss" scoped>
#screen {
	display: grid;
	grid-template-areas: "tree info";
	grid-template-columns: 1fr 4fr;
}

#skill-tree {
	grid-area: tree;

	display: grid;
	place-items: center;
}

#selected-skill-info {
	grid-area: info;
}
</style>