<script setup lang="ts">
import 'normalize.css'
import '@/assets/main.scss'
import { ref } from 'vue'

import MainMenu from './views/MainMenu.vue'
import Introduction from './views/Introduction.vue'
import CharacterCreation from './views/CharacterCreation.vue'
import GameScreen from "./views/GameScreen.vue"
import GameOver from './views/GameOver.vue'

import Settings from './components/Settings.vue'
import SettingsTab from './components/SettingsTab.vue'
import GalleryScreen from './views/GalleryScreen.vue'
import { useGlobalStore } from './store/global'
import type { GameScreens } from './globals'

// maybe see if we can use component :is with string later
function getComponentFromString(str: GameScreens) {
	switch (str) {
		case "MainMenu": return MainMenu
		case "Introduction": return Introduction
		case "CharacterCreation": return CharacterCreation
		case "GameScreen": return GameScreen
		case "GameOver": return GameOver
		case "GalleryScreen": return GalleryScreen
	}
}

const globalStore = useGlobalStore()
globalStore.__setWindowTitle('CowGirl Apocalypse')

</script>

<template>
	<div>
		<component
			id="game-screen"
			:class="{ 'settings-open': globalStore.showingSettings }"
			:is="getComponentFromString(globalStore.currentScreen)"
		></component>
		<Transition name="settings" mode="out-in" :duration="500">
			<Settings
				v-show="globalStore.showingSettings"
				@exit="() => {
					globalStore.currentScreen = 'MainMenu';
					globalStore.showingSettings = false
				}"
			></Settings>
		</Transition>
	</div>
</template>

<style lang="scss" scoped>
@import "@/assets/variables.scss";
#game-screen {
	transition: transform 0.5s ease;
	&.settings-open {
		transform: translateX(calc(-1 * #{$SETTINGS_SIZE}));
	}
}
</style>
